<h1>Login/Logout</h1>
@if (!loggedIn()) {
  <form [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />

      @if (loginFormGroup.controls.email.hasError("required")) {
        <mat-error> An email is required. </mat-error>
      }

      @if (loginFormGroup.controls.email.hasError("email")) {
        <mat-error> A valid email is required. </mat-error>
      }
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Password:</mat-label>
      <input matInput type="password" formControlName="password" />

      @if (loginFormGroup.controls.password.hasError("required")) {
        <mat-error> A password is required. </mat-error>
      }

      @if (loginFormGroup.controls.password.hasError("minlength")) {
        <mat-error> Password must have at least 6 characters. </mat-error>
      }
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="loginFormGroup.invalid">
      Login
    </button>
  </form>
} @else {
  <button mat-flat-button (click)="handleLogout()">Logout</button>
}
<p [authStatus]="loggedIn()">You are logged in!</p>
