.error-message {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-form-field {
    width: clamp(300px, 30%, 40%);
    margin-bottom: 1rem;
  }
}
