<main class="main" id="top">
  <mat-toolbar color="primary">
<!--    <div class="toolbar-content">-->
      <div class="left">
        <button mat-button>
          <a href="#top">Home</a>
        </button>
        <button mat-button>
          <a href="https://www.google.com">Google</a>
        </button>
      </div>
      <div class="right">
        <img ngSrc="account_box.png" alt="Account Icon" height="24" width="24">
        <img ngSrc="shopping_cart.png" alt="Account Icon" height="24" width="24">
      </div>
<!--    </div>-->
  </mat-toolbar>
</main>
