<main class="main" id="top">
  <mat-toolbar>
    <div class="left">
      <button mat-flat-button>
        <a routerLink="/home" routerLinkActive="active-link">Home</a>
      </button>
    </div>
    <div class="right">
      <button mat-flat-button>
        <a routerLink="/login" routerLinkActive="active-link">
          <img ngSrc="account_box.png" alt="account" />
        </a>
      </button>
      <button mat-flat-button>
        <a routerLink="/shopping-cart" routerLinkActive="active-link">
          <img ngSrc="shopping_cart.png" alt="cart" />
        </a>
      </button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</main>
